*,
*:before,
*:after { box-sizing: border-box; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $alternate-font-family;
  font-weight: 800;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(600px - (#{$spacing-unit} * 2));
    max-width:         calc(600px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Forms
 */
 input[type="text"],
 input[type="password"],
 input[type="date"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="month"],
 input[type="week"],
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="tel"],
 input[type="time"],
 input[type="url"],
 textarea {
   box-shadow: none;
   outline: none;
   background-color: #fff;
   border: 2px solid rgb(238,238,238);
   transition: all .3s ease-out;
 }

 // input:invalid {
 //   border: 1px solid red;
 // }

 // input:valid {
 //   border: 1px solid green;
 // }

input:focus {
  box-shadow: none;
  outline: none;
  background-color: lighten(lightgrey, 15%);
  border: 2px solid darken(rgb(238,238,238), 10%);
}

.form-hint {
  color: #222;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}


.application-form {
  background-color: #fff;
  border: 1px solid lightgrey;
  margin-top: 60px;
  padding: 20px;
}

.group {
  margin: 0 auto 20px;
  display: block;
  // width: 90%;

  // @include media-query($on-laptop) {
    width: 100%;
  // }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li { text-align: left; }
  }

  input,
  label,
  select,
  button {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    padding: 8px;
    font-family: $base-font-family;
  }

  label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }

  input[type="checkbox"] {
    display: inline;
    width: initial;
    padding: 5px;

    & + label {
      display: inline;
      width: initial;
    }
  }

  button {
    padding: 15px;
    background-color: darkkhaki;
    border: none;
    color: darken(darkkhaki, 35%);
    cursor: pointer;
    transition: background-color .3s ease-out;

    &:hover {
      background-color: darken(darkkhaki, 10%);
    }
  }

}
